/***
** LESS Utility Functions
***/
.space-horizontal {
  display: inline-block;
  margin: 0 25px;
}
/***
** Spacing Utility Classes
***/
.adding-margin {
  display: inline-block;
}
.space-top {
  margin-top: 25px;
}
.space-bottom {
  margin-bottom: 25px;
}
.space-vertical {
  margin-top: 25px;
  display: inline-block;
  margin-bottom: 25px;
}
/***
** Size Utilities
***/
.full-width {
  width: 100%;
}
/***
** Font Stuff
***/
.ultra-big-text {
  font-size: 10em;
}
.big-text {
  font-size: 5em;
}
/***
** Icons, Symbols and Placeholders
***/
.text-divider:before {
  content: "-";
}
#projects-container .project-tag.project-tag-idea {
  background-color: #3caa9c !important;
  color: #3caa9c !important;
}
#projects-container .project-tag.project-tag-idea.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-idea:after {
  content: "Idea";
}
#projects-container .project-tag.project-tag-idea:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-javascript {
  background-color: #cc7400 !important;
  color: #cc7400 !important;
}
#projects-container .project-tag.project-tag-javascript.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-javascript:after {
  content: "JavaScript";
}
#projects-container .project-tag.project-tag-javascript:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-css {
  background-color: #d66be8 !important;
  color: #d66be8 !important;
}
#projects-container .project-tag.project-tag-css.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-css:after {
  content: "CSS";
}
#projects-container .project-tag.project-tag-css:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-python {
  background-color: #2a69c5 !important;
  color: #2a69c5 !important;
}
#projects-container .project-tag.project-tag-python.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-python:after {
  content: "Python";
}
#projects-container .project-tag.project-tag-python:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-swift {
  background-color: #fb6917 !important;
  color: #fb6917 !important;
}
#projects-container .project-tag.project-tag-swift.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-swift:after {
  content: "Swift";
}
#projects-container .project-tag.project-tag-swift:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-java {
  background-color: #c65c3a !important;
  color: #c65c3a !important;
}
#projects-container .project-tag.project-tag-java.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-java:after {
  content: "Java";
}
#projects-container .project-tag.project-tag-java:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-haskell {
  background-color: #945992 !important;
  color: #945992 !important;
}
#projects-container .project-tag.project-tag-haskell.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-haskell:after {
  content: "Haskell";
}
#projects-container .project-tag.project-tag-haskell:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-html {
  background-color: #4caf50 !important;
  color: #4caf50 !important;
}
#projects-container .project-tag.project-tag-html.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-html:after {
  content: "HTML";
}
#projects-container .project-tag.project-tag-html:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-less {
  background-color: #c143d5 !important;
  color: #c143d5 !important;
}
#projects-container .project-tag.project-tag-less.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-less:after {
  content: "LESS";
}
#projects-container .project-tag.project-tag-less:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-lua {
  background-color: #039be5 !important;
  color: #039be5 !important;
}
#projects-container .project-tag.project-tag-lua.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-lua:after {
  content: "Lua";
}
#projects-container .project-tag.project-tag-lua:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-c {
  background-color: #ef5350 !important;
  color: #ef5350 !important;
}
#projects-container .project-tag.project-tag-c.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-c:after {
  content: "C";
}
#projects-container .project-tag.project-tag-c:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-applescript {
  background-color: #85868a !important;
  color: #85868a !important;
}
#projects-container .project-tag.project-tag-applescript.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-applescript:after {
  content: "AppleScript";
}
#projects-container .project-tag.project-tag-applescript:hover {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-assembly {
  background-color: #556c77 !important;
  color: #556c77 !important;
}
#projects-container .project-tag.project-tag-assembly.locked {
  color: #f5f7f7 !important;
}
#projects-container .project-tag.project-tag-assembly:after {
  content: "Assembly";
}
#projects-container .project-tag.project-tag-assembly:hover {
  color: #f5f7f7 !important;
}
#projects-container .project.project__primary-tag-idea {
  border: 2px solid #2f8479;
}
#projects-container .project.project__primary-tag-javascript {
  border: 2px solid #995700;
}
#projects-container .project.project__primary-tag-css {
  border: 2px solid #ca3fe1;
}
#projects-container .project.project__primary-tag-python {
  border: 2px solid #21539b;
}
#projects-container .project.project__primary-tag-swift {
  border: 2px solid #db5104;
}
#projects-container .project.project__primary-tag-java {
  border: 2px solid #9f492e;
}
#projects-container .project.project__primary-tag-haskell {
  border: 2px solid #744673;
}
#projects-container .project.project__primary-tag-html {
  border: 2px solid #3d8b40;
}
#projects-container .project.project__primary-tag-less {
  border: 2px solid #a72abb;
}
#projects-container .project.project__primary-tag-lua {
  border: 2px solid #0279b3;
}
#projects-container .project.project__primary-tag-c {
  border: 2px solid #eb2521;
}
#projects-container .project.project__primary-tag-applescript {
  border: 2px solid #6c6d70;
}
#projects-container .project.project__primary-tag-assembly {
  border: 2px solid #405159;
}
code,
pre {
  border: none !important;
  background-color: #e8e9e8 !important;
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
  font-family: "Roboto Mono", "Courier New", "Courier", mono-space !important;
  padding: 1px 2px;
}
pre {
  left: -50px;
  width: calc(100% + 100px);
  position: relative;
}
@media (min-width: 992px) {
  pre {
    left: -110px;
    width: calc(100% + 220px);
    padding-left: 110px !important;
  }
}
@media (min-width: 1420px) {
  pre {
    padding-left: 90px !important;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none !important;
}
pre.prettyprint {
  font-family: "Roboto Mono", "Courier New", "Courier", mono-space;
  font-weight: 300;
  color: #405050;
  font-size: 1em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
  display: block;
  padding: 20px 25px !important;
  overflow: hidden;
}
code.inline {
  font-family: "Roboto Mono", "Courier New", "Courier", mono-space;
  font-weight: 300;
  color: #405050;
  font-size: 0.9em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
  display: inline-block;
}
code.newline {
  display: block;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #D81B60;
}
html.dark-theme pre,
html.dark-theme code {
  background-color: #2e3338 !important;
  color: #959695;
}
html.dark-theme code[class*="language-"],
html.dark-theme pre[class*="language-"] {
  color: #959695;
  text-shadow: 0 1px black;
}
@keyframes gridlist {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes bounce {
  0%,
  5%,
  12.5%,
  20%,
  25%,
  30%,
  37.5%,
  45%,
  50%,
  55%,
  62.5%,
  70%,
  75%,
  80%,
  87.5%,
  95%,
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
  }
  10%,
  60%,
  85% {
    -webkit-transform: translateY(-10px) rotate(0deg);
    transform: translateY(-10px) rotate(0deg);
  }
  15%,
  40%,
  65%,
  90% {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg);
  }
  35% {
    -webkit-transform: translateY(-10px) rotateY(-90deg);
    transform: translateY(-10px) rotateY(-90deg);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  overflow: initial !important;
}
body {
  margin: 10px 40px;
  background-color: #f5f7f7;
}
@media (min-width: 992px) {
  body {
    margin: 50px 100px;
  }
}
a {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
  color: #3caa9c;
  font-weight: 500;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #8edad0;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #5a5a5a;
  font-size: 2.5em;
  line-height: 1.1;
  text-transform: none;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none !important;
}
h1,
html #homepage-intro h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #5a5a5a;
  font-size: 2.3em;
  line-height: 1.1;
  text-transform: uppercase;
}
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #5a5a5a;
  font-size: 2.5em;
  line-height: 1.1;
  text-transform: none;
  margin-bottom: 0.312em;
  text-transform: capitalize;
}
h3,
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #9e9c9b;
  font-size: 1.8em;
  line-height: 1.1;
  text-transform: none;
  padding-top: 0.312em;
  padding-bottom: 0.625em;
}
@media (min-width: 1420px) {
  h3,
  h4 {
    padding-top: 0.625em;
  }
}
h4 {
  font-weight: 400;
}
h4.subtitle {
  font-size: 1.2em;
  color: #9e9c9b;
}
p,
li {
  margin: 0 0 0.937em;
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1.2em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
}
svg#scroll-down {
  opacity: 1 !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  animation: bounce 10s infinite;
  margin-top: 12em;
}
svg#scroll-down:hover {
  cursor: pointer;
}
svg#scroll-down:hover polyline {
  stroke: #8EDAD0;
}
svg#scroll-down polyline {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  fill: none;
  stroke: #3caa9c;
  stroke-width: 3;
}
@media (min-width: 1420px) {
  .content-section {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: #f9fbfb;
    padding: 0 20px 20px 20px;
    width: 1000px;
    margin: auto;
  }
}
.content-section .content-panel {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 100;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  padding: 25px 10px;
}
.content-section .content-panel.intro,
.content-section .content-panel.outro {
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  padding-bottom: 10px;
  min-height: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .content-section .content-panel.intro,
  .content-section .content-panel.outro {
    min-height: 0;
    height: 50%;
  }
}
.content-section .content-panel.intro.demo,
.content-section .content-panel.outro.demo {
  background-color: #f5f7f7;
}
.content-section .content-panel.outro {
  display: flex;
  flex-direction: row-reverse;
}
.content-section .content-panel.outro a.btn {
  float: initial;
  margin-bottom: 0;
}
.content-section .content-panel.outro .btn.header.link {
  margin-top: 0;
}
.content-section .content-panel:last-child {
  border: none;
}
.content-section .content-panel > h3 {
  margin-left: 10px;
}
.content-section .content-panel > div.half-column {
  display: inline-block;
  width: calc(48%);
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .3s cubic-bezier(0.47, 0.05, 0.23, 1.16);;
  -moz-transition: all .3s cubic-bezier(0.47, 0.05, 0.23, 1.16);;
  -ms-transition: all .3s cubic-bezier(0.47, 0.05, 0.23, 1.16);;
  transition: all .3s cubic-bezier(0.47, 0.05, 0.23, 1.16);;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #3caa9c;
  font-size: 1.3em;
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 0em;
  border: 2px solid #3caa9c;
  padding: 0.625em 0.937em;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.btn.link:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #8edad0;
  display: block;
  margin: 0 auto;
  transition: all .3s cubic-bezier(0.47, 0.05, 0.23, 1.16);;
}
.btn.link:hover:after,
.btn.link:focus:after {
  width: 100%;
}
.btn.header {
  font-size: 1.2em;
  display: inline-block;
  width: 8em;
  max-width: 50%;
  font-family: "Open Sans", "Lato", sans-serif;
}
.btn.header.link {
  border: 2px solid transparent;
  width: 100%;
  float: right;
  width: auto;
  padding: 0;
  margin: 25px;
}
.btn.header.link:hover,
.btn.header.link:focus,
.btn.header.link:active {
  background: transparent;
  color: #8edad0;
}
.btn polyline {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.btn:hover,
.btn:focus,
.btn.selected {
  outline: 0;
  background-color: #3caa9c;
  color: #f5f7f7;
  text-decoration: none;
  border: 2px solid #3caa9c;
  outline: none;
  box-shadow: none;
}
.btn:hover polyline.stroke,
.btn:focus polyline.stroke,
.btn.selected polyline.stroke {
  stroke: #f5f7f7 !important;
}
.btn:hover polyline.fill,
.btn:focus polyline.fill,
.btn.selected polyline.fill {
  fill: #f5f7f7 !important;
}
.input-group:focus {
  outline: 0;
}
.focus-underline:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  position: relative;
  margin-top: -1px;
  z-index: 100;
}
.focus-underline.focused:after {
  width: 100%;
  background: #3caa9c;
}
.input-group-addon {
  font-family: sans-serif;
  font-weight: 400;
  color: #405050;
  font-size: 1em;
  line-height: 1.1;
  text-transform: none;
  letter-spacing: 0em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid rgba(150, 150, 150, 0.2);
  border-left: none;
  border-top: none;
  background-color: transparent;
}
.input-group-addon.degree-module-initialism {
  min-width: 65px;
}
input.form-control {
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid rgba(150, 150, 150, 0.2);
  border-right: none;
  border-top: none;
}
input.form-control:focus {
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: 2px solid #3caa9c;
  border-bottom-color: rgba(150, 150, 150, 0.2);
}
.switch {
  position: relative;
  height: 3em;
  width: calc(9em + 2px);
  background: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  display: inline-block;
  float: right;
  margin-right: 10px;
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1.2em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
}
.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: calc(4.5em + 1px);
  line-height: 3;
  font-size: 1em;
  color: #9e9c9b;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.05em;
}
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  color: #f5f7f7;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  cursor: default;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 4.5em;
}
/* the green bubble */
.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 4.5em;
  height: 2.7em;
  background: #3caa9c;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
#projects-container,
#posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#projects-container article,
#posts-container article {
  display: inline-block;
  margin-top: 25px;
  padding: 40px;
  margin: 10px;
  flex-grow: 1;
  flex-basis: auto;
  position: relative;
  overflow: hidden;
  animation-duration: 1s;
  animation-timing-function: linear;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #f9fbfb;
}
#projects-container article.project,
#posts-container article.project {
  padding-top: 50px;
}
#projects-container article.post,
#posts-container article.post {
  padding: 20px 40px;
}
#projects-container article .title,
#posts-container article .title {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  display: block;
  color: #5a5a5a;
  font-size: 1.7em;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.025em;
}
#projects-container article .subtitle,
#posts-container article .subtitle {
  display: block;
  color: #9e9c9b;
  font-family: "Open Sans", "Lato", sans-serif;
}
#projects-container article .background,
#posts-container article .background {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
#projects-container article .overlay .overlay-buttons,
#posts-container article .overlay .overlay-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 250;
}
#projects-container article .overlay .overlay-buttons .btn,
#posts-container article .overlay .overlay-buttons .btn {
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  margin: 8px;
  background-color: transparent;
  display: inline-block;
  border: none;
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 0.5em 0.937em;
}
#projects-container article .overlay .overlay-buttons .btn:hover,
#posts-container article .overlay .overlay-buttons .btn:hover,
#projects-container article .overlay .overlay-buttons .btn:focus,
#posts-container article .overlay .overlay-buttons .btn:focus {
  color: #f5f7f7;
}
#projects-container article .overlay .overlay-buttons .btn:after,
#posts-container article .overlay .overlay-buttons .btn:after {
  position: absolute;
  margin: 0;
  background-color: #f5f7f7;
}
#projects-container article .overlay .overlay-buttons .btn:hover:after,
#posts-container article .overlay .overlay-buttons .btn:hover:after,
#projects-container article .overlay .overlay-buttons .btn:focus:after,
#posts-container article .overlay .overlay-buttons .btn:focus:after {
  width: 85%;
}
#projects-container article .overlay .overlay-buttons .btn + .btn,
#posts-container article .overlay .overlay-buttons .btn + .btn {
  margin-left: 0;
}
#projects-container article .overlay .project-tags,
#posts-container article .overlay .project-tags {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#projects-container article .overlay .project-tags .project-tag,
#posts-container article .overlay .project-tags .project-tag {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 0.95em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.29, 1.21);
  will-change: transform;
}
#projects-container article .overlay .project-tags .project-tag:after,
#posts-container article .overlay .project-tags .project-tag:after {
  position: absolute;
  right: 10px;
  bottom: 2px;
  color: #f5f7f7;
  font-size: 1em;
  line-height: 1.6;
}
#projects-container article .overlay .project-tags .project-tag:nth-child(1),
#posts-container article .overlay .project-tags .project-tag:nth-child(1) {
  transform: translateY(-25%);
  top: calc(-60% + 1px);
  transition-delay: .1s;
  z-index: 120;
}
#projects-container article .overlay .project-tags .project-tag:nth-child(2),
#posts-container article .overlay .project-tags .project-tag:nth-child(2) {
  transform: translateY(-40%);
  top: -45%;
  transition-delay: .2s;
  z-index: 115;
}
#projects-container article .overlay .project-tags .project-tag:nth-child(3),
#posts-container article .overlay .project-tags .project-tag:nth-child(3) {
  transform: translateY(-55%);
  top: -30%;
  transition-delay: .3s;
  z-index: 110;
}
#projects-container article .overlay .project-tags .project-tag:nth-child(4),
#posts-container article .overlay .project-tags .project-tag:nth-child(4) {
  transform: translateY(-70%);
  top: -15%;
  transition-delay: .4s;
  z-index: 105;
}
#projects-container article .overlay .project-tags .project-tag:nth-child(5),
#posts-container article .overlay .project-tags .project-tag:nth-child(5) {
  transform: translateY(-85%);
  top: 0%;
  transition-delay: .5s;
  z-index: 100;
}
#projects-container article.project.hover .background,
#posts-container article.project.hover .background,
#projects-container article.project:hover .background,
#posts-container article.project:hover .background {
  -webkit-filter: blur(3px);
}
#projects-container article.project.hover .overlay .overlay-buttons .btn,
#posts-container article.project.hover .overlay .overlay-buttons .btn,
#projects-container article.project:hover .overlay .overlay-buttons .btn,
#posts-container article.project:hover .overlay .overlay-buttons .btn {
  transform: translateY(0%) !important;
  opacity: 1;
}
#projects-container article.project.hover .overlay .overlay-buttons .btn:nth-child(1),
#posts-container article.project.hover .overlay .overlay-buttons .btn:nth-child(1),
#projects-container article.project:hover .overlay .overlay-buttons .btn:nth-child(1),
#posts-container article.project:hover .overlay .overlay-buttons .btn:nth-child(1) {
  transition-delay: 0.1s;
}
#projects-container article.project.hover .overlay .overlay-buttons .btn:nth-child(2),
#posts-container article.project.hover .overlay .overlay-buttons .btn:nth-child(2),
#projects-container article.project:hover .overlay .overlay-buttons .btn:nth-child(2),
#posts-container article.project:hover .overlay .overlay-buttons .btn:nth-child(2) {
  transition-delay: 0.15s;
}
#projects-container article.project.hover .overlay .project-tag,
#posts-container article.project.hover .overlay .project-tag,
#projects-container article.project:hover .overlay .project-tag,
#posts-container article.project:hover .overlay .project-tag {
  transform: translateY(0%) !important;
}
#projects-container .buttons,
#posts-container .buttons {
  padding-top: 20px;
}
#projects-container .buttons a.btn.link,
#posts-container .buttons a.btn.link {
  color: #3caa9c;
  background-color: transparent;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-left: 0;
  padding-right: 1.25em;
  transform: translateY(0%) !important;
  /* don't ask */
}
#projects-container .buttons a.btn.link:hover,
#posts-container .buttons a.btn.link:hover {
  color: #8edad0;
}
#projects-container .buttons a.btn.link:hover:after,
#posts-container .buttons a.btn.link:hover:after {
  width: 85%;
}
#projects-container .buttons a.btn.link:after,
#posts-container .buttons a.btn.link:after {
  position: absolute;
  margin: 0;
}
@media (min-width: 992px) {
  #projects-container.list,
  #posts-container.list {
    padding-top: 2em;
    margin: auto;
  }
  #projects-container.list article,
  #posts-container.list article {
    flex-basis: 50%;
  }
}
code .tag,
pre .tag {
  font-family: "Roboto Mono", "Courier New", "Courier", mono-space;
  font-size: inherit;
  padding: inherit;
  vertical-align: inherit;
  display: inherit;
}
.anchor {
  position: absolute;
  margin-top: -109px;
}
figure.image-wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid rgba(150, 150, 150, 0.2);
  overflow: hidden;
  position: relative;
  background-color: #f9fbfb;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  text-align: center;
}
figure.image-wrapper.left {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
figure.image-wrapper.right {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
figure.image-wrapper.fixedwidth {
  width: 200px;
}
figure.image-wrapper.fixedheight {
  height: 200px;
}
figure.image-wrapper.withcaption p {
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: 700;
}
figure.image-wrapper.withcaption p.top {
  bottom: 50%;
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
}
figure.image-wrapper.withcaption p.bottom {
  top: 50%;
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}
figure.image-wrapper.withcaption:hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.image-wrapper.withcaption:hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  opacity: 0.8;
}
figure.image-wrapper * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
figure.image-wrapper img {
  opacity: 1.0;
  width: 100%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
figure.image-wrapper figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1em;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0em;
}
span.subtitle {
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 0.85em;
  line-height: 1.1;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid rgba(150, 150, 150, 0.2);
}
iframe {
  border-radius: 3px;
  border: 2px solid rgba(150, 150, 150, 0.2);
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.prism-show-language-label {
  font-family: "Open Sans", "Lato", sans-serif;
  padding: 0.312em 0.625em !important;
}
html.dark-theme {
  background-color: #363c42;
}
html.dark-theme body {
  background-color: #363c42;
}
html.dark-theme h1,
html.dark-theme h2,
html.dark-theme h3,
html.dark-theme #homepage-intro h1 {
  color: #cccccc;
}
html.dark-theme a.btn.header:hover {
  color: #363c42;
}
html.dark-theme a.btn.header:hover.link {
  color: #8edad0;
}
html.dark-theme .content-section {
  background-color: #2e3338;
}
html.dark-theme .content-section#homepage-content-section {
  background-color: #363c42;
}
html.dark-theme .content-section#homepage-content-section .content-panel > h3 {
  background-color: #363c42;
}
html.dark-theme p,
html.dark-theme li {
  color: #959695;
}
html.dark-theme #projects-container article.project,
html.dark-theme #posts-container article.post {
  background-color: #2e3338;
}
html.dark-theme #projects-container article.project .title,
html.dark-theme #posts-container article.post .title {
  color: #cccccc;
}
