* {
  font-family: "Lato", "HelveticaNeue-Light", Helvetica, sans-serif;
  color: #777;
}

*:focus {
  outline-color: #3CAA9C !important;
}

a {
  color: #3CAA9C;
}

a:hover {
  color: #8edad0;
}

.space-bottom {
  margin-bottom: 15px;
}

body {
  background-color: #EFEFEF;
}

h1, h2 {
  font-size: 2.5em;
  font-weight: 300;
}

.intro {
  height: 650px !important;
}

.intro-color-box {
  background-color: #FCFFFF;
  position: absolute;
  top: 0;
  width: 100%;
  height: 545px;
}

.content-section {
  opacity: 0;
  transition: opacity 2s ease;
  height: auto;
  min-height: calc(100% - 350px);
}

.navbar-custom {
  background-color: #FCFFFF;
  border-bottom: 2px solid #3CAA9C;
}

@media (min-width: 768px) {
  .navbar-custom {
    border: none !important;
  }
}

.navbar-custom li a {
  color: #3CAA9C;
  border-bottom: 2px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-custom li a:hover {
  background-color: inherit;
  color: #8edad0;
}

.navbar-custom li a:focus {
  border-bottom: 2px solid #3CAA9C;
  outline-width: 0px;
}

#current-location {
  border-bottom: 2px solid #3CAA9C;
}

.navbar-custom.top-nav-collapse {
  background-color: #fcffff;
}

/* Uses Lato font for heading on high-res devices */
@media only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
 h1 {
   font-weight: 100 !important;
 }

 p, .project {
   font-weight: 300 !important;
 }
}

.btn-default {
  color: #3CAA9C;
  border: 2px solid #3CAA9C;
}

.btn-default * {
  color: inherit;
}

.btn-default:hover, .btn-default:focus {
  background-color: #3CAA9C;
  border: 2px solid #3CAA9C;
  color: #EFEFEF;
}

.btn-circle {
  border: none;
  position: absolute;
  top: 210px;
  font-size: 3.5em;
  padding: 5px 5px;
  transition: all .1s ease;
}

.btn-circle:active {
  box-shadow: none;
}

.btn-circle i {
  color: #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  text-align: center;
  line-height: 0.87;
  background-color: rgb(253,255,255);
  font-size: 1.5em;
}

.btn-circle i:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24);
  color: rgba(92, 145, 138, 0.81);
}

#all-projects, #recent-projects, .project {
  padding: 10px 0;
}

#all-projects, #recent-projects {
  margin-bottom: 20px;
}

.project-tags * {
  display: inline;
}

.text-divider:before {
  content: "-";
}
