* {
  font-family: "Lato", "HelveticaNeue-Light", Helvetica, sans-serif;
  color: #777;
}

*:focus {
  outline-color: #3CAA9C !important;
}

a {
    color: #3CAA9C;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Lato", "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #EFEFEF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

h1, h2 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 15px;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    text-transform: none;
}

/* Uses Lato font for heading on high-res devices */
@media only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
 h1 {
   font-weight: 100 !important;
 }

 p, .project {
   font-weight: 300 !important;
 }
}

@media(min-width:768px) {
    p {
        margin: 0 0 10px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a:hover,
a:focus {
    text-decoration: none;
    color: #8edad0;
    font-decoration: underline;
}

.space-top {
  margin-top: 15px;
}

.space-bottom {
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}

.shadow {
  box-shadow: 1px 1px 6px #ddd;
}

.transition {
  -webkit-transition: all 1s ease-in-out !important;
  -moz-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
}

.ultra-big-text {
  font-size: 150px;
}

.big-text {
  font-size: 50px;
}

/***
** Main containers
***/

.row-enable-spacing {
  display: inline-block;
}

.container {
  width: 100%;
}

.intro-color-box {
  background-color: #FCFFFF;
  position: absolute;
  top: 0;
  width: 100%;
  height: 545px;
}

.intro {
    display: table;
    width: 100%;
    /*height: 600px;*/
    height: 545px;
    text-align: left;
    color: #fff;
}

.intro .intro-body {
    margin-top: 250px;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    margin-bottom: 0;
}

.intro .intro-body .intro-text {
    font-size: 20px;
}

@media(min-width:768px) {
    .intro {
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 50px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.content-section {
  opacity: 0;
  transition: opacity 2s ease;
  min-height: calc(100% - 42px);
  display: none;
  text-align: left;
  padding-top: 50px;
}

.content-panel {
  /*padding: 20px 0;*/
  padding: 10px 20px 0 20px;
}

.content-panel.white {
  background-color: #FCFFFF;
}

/***
** Navbar
***/

.navbar-custom {
  background-color: #FCFFFF;
  border-bottom: 2px solid #3CAA9C;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  z-index: 1000;
}

@media (min-width: 768px) {
  .navbar-custom {
    border: none !important;
  }
}

.navbar-custom li a:hover {
  background-color: inherit;
  color: #8edad0;
}

.navbar-custom li a:focus {
  border-bottom: none;
  outline-width: 0px;
  border-radius: 3px;
}

.navbar-custom li:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.navbar-custom li:hover:after {
	width: 100%;
	background: #3CAA9C;
}

#current-location {
  border-bottom: 2px solid #3CAA9C;
}

#current-location:after {
  height: 0;
}

#current-location:hover a {
  color: #3CAA9C;
}

.navbar-custom {
    padding: 10px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.navbar-custom.top-nav-collapse {
  background-color: #fcffff;
}

/* Disable hamburger menu */
.navbar-nav>li {
  float: left;
}

.navbar-nav {
  float: left;
  margin: 7px 10px 0 0;
}

.navbar-right {
  float: right;
  margin-right: -15px;
}

.nav>li>a {
  padding: 10px 20px;
}

.non-mobile {
  display: none;
}

.mobile {
  display: block;
}

.nav a {
  font-size: 1.5em;
}

@media(min-width: 768px) {
  .non-mobile {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }

  .nav a {
    font-size: 1em;
  }

}

/***
** Buttons
***/

.btn {
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 2px solid #3CAA9C;
    color: #3CAA9C;
    background-color: transparent;
    border-radius: 3px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.selected {
    border: 2px solid #3CAA9C;
    outline: 0;
    color: #EFEFEF;
    background-color: #3CAA9C;
}

.btn-default * {
  color: inherit;
}

.btn-circle {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 100%!important;
    position: absolute;
    top: 260px;
    font-size: 3.5em;
    padding: 5px 5px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle:active {
  box-shadow: none;
}

.btn-circle i {
  color: #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  text-align: center;
  line-height: 0.87;
  background-color: rgb(253,255,255);
  font-size: 1.5em;
}

ul.banner-social-buttons {
    margin-top: 10px;
    margin-bottom: 40px;
}

@media(max-width:768px) {
    ul.banner-social-buttons li {
        margin-bottom: 20px;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

.page-scroll-btn {
  z-index: 1500;
}

.btn-highlight i {
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24);
  color: rgb(60, 170, 156);
}

/***
** Other Form Elements
***/

.input-group {
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 50;
}

.input-group:focus {
  outline-width: 0;
}

.focus-underline:after {
  content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
  position: relative;
  z-index: 100;
  margin-top: -1px;
}

.focus-underline.focused:after {
  width: 100%;
  background: #3CAA9C;
}

.input-group-addon {
  background: none;
  font-weight: 200;
  border: none;
  border-radius: 0;
  font-size: 20px;
  min-width: 65px;
}

input.form-control {
  font-size: 18px;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: none;
}

input.form-control:focus {
  box-shadow: none;
}

/***
** Projects
***/

#all-projects, #recent-projects, .project {
  padding: 10px 0;
}

#all-projects, #recent-projects {
  margin-bottom: 20px;
}

.project-tags * {
  display: inline;
}

.text-divider:before {
  content: "-";
}

.project-anchor {
  display: block;
  top: -100px;
  position: relative;
  visibility: hidden;
}

.project-title {
  margin: 0;
}

/***
** About Me
***/

.about-me-bullets {
  padding-top: 1px;
  margin-bottom: 1px;
}

.about-me-spacing {
  height: 25px;
}
