// Overrides for the code blocks

code, pre {
  border: none !important;
  background-color: @colour-code-background !important;
  .font(
    @size: @font-size-code,
  );
  font-family: @font-family-code !important;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: none !important;
}

pre.prettyprint {
  .font(
      @family: @font-family-code,
      @size:   @font-size-code,
  );
  display: block;
  padding: @spacing-small @spacing-standard !important;
  overflow: hidden;
}

code.inline {
  .font(
      @family: @font-family-code,
      @size:   @font-size-code-inline,
  );
  display: inline-block;
}

code.newline {
  display: block;
}
