// Overrides for the code blocks

code, pre {
  border: none !important;
  background-color: @colour-code-background !important;
  .font(
    @size: @font-size-code,
  );
  font-family: @font-family-code !important;
  padding: 1px 2px;
}

pre {
  left: -1 * (@spacing-big + 10px);
  width: ~"calc(100% + 100px)";
  position: relative;

  @media(@non-sm) {
    left: -110px;
    width: ~"calc(100% + 220px)";
    padding-left: 110px !important;
  }
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: none !important;
}

pre.prettyprint {
  .font(
      @family: @font-family-code,
      @size:   @font-size-code,
  );
  display: block;
  padding: @spacing-small @spacing-standard !important;
  overflow: hidden;
}

code.inline {
  .font(
      @family: @font-family-code,
      @size:   @font-size-code-inline,
  );
  display: inline-block;
}

code.newline {
  display: block;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: #D81B60;
}


html.dark-theme {
  pre, code {
    background-color: @colour-dark-theme-alt !important;
    color: @colour-dark-theme-font;
  }

  code[class*="language-"], pre[class*="language-"] {
    color: @colour-dark-theme-font;
    text-shadow: 0 1px black;
  }
}
