.rounded-corners( @radius: @border-radius ) {
  -webkit-border-radius:  @radius;
  -moz-border-radius:     @radius;
  -ms-border-radius:      @radius;
  border-radius:          @radius;
}

.transition( @effect: @transition-default ) {
  -webkit-transition:   @effect;
  -moz-transition:      @effect;
  -ms-transition:       @effect;
  transition:           @effect;
}

.shadow( @effect: @shadow-default ) {
  -moz-box-shadow:      @effect;
  -webkit-box-shadow:   @effect;
  box-shadow:           @effect;
}

.transform( @effect ) {
  -webkit-transform: @effect;
  transform: @effect;
}

.filter( @effect ) {
  -webkit-filter: @effect;
  filter: @effect;
}

.font(
  @family:      @font-family-standard,
  @weight:      @font-weight-standard,
  @colour:      @font-colour-standard,
  @size:        @font-size-standard,
  @line-height: @font-lineheight-standard,
  @transform:   @font-transform-none,
  @letter-spacing: 0em,
) {
  font-family: @family;
  font-weight: @weight;
  color: @colour;
  font-size: @size;
  line-height: @line-height;
  text-transform: @transform;
  letter-spacing: @letter-spacing;
  -webkit-font-smoothing: antialiased;
}

.heading-font(
  @family:      @font-family-title,
  @weight:      @font-weight-heading,
  @colour:      @font-colour-heading,
  @size:        @font-size-standard,
  @line-height: @font-lineheight-less,
  @transform:   @font-transform-none,
) {
  font-family:     @family;
  font-weight:     @weight;
  color:           @colour;
  font-size:       @size;
  line-height:     @line-height;
  text-transform:  @transform;
  -webkit-font-smoothing: antialiased;
}
