@Idea       : @colour-accent; //For project ideas
@JavaScript : #cc7400; //Orange
@CSS        : #d66be8; //Pink
@Python     : #2A69C5; //Blue
@Swift      : #fb6917; //Orange
@Java       : #c65c3a; //Brown
@Haskell    : #945992; //Purple
@HTML       : #4CAF50; //Green
@Lua        : #039BE5; //Deep Blue
@LESS       : #c143d5; //magenta
@C          : #ef5350; //Brown-ish red
@Assembly   : #556c77; //Dark-blueish grey
@AppleScript: #85868a; //Apple's pale grey
@Elm        : #60b5cc; //Elm's brand colour

@border-darken-factor: 10%;

.create-tag(
  @colour,
  @label,
) {
  background-color: @colour !important;
  color: @colour !important;
  &.locked {
    color: @colour-base !important;
  }
  &:after {
    content: @label;
  }
  &:hover {
    color: @colour-base !important;
  }
}

#projects-container .project-tag.project-tag-idea       { .create-tag( @Idea, "Idea"              ) }
#projects-container .project-tag.project-tag-javascript { .create-tag( @JavaScript, "JavaScript"  ) }
#projects-container .project-tag.project-tag-css        { .create-tag( @CSS, "CSS"                ) }
#projects-container .project-tag.project-tag-python     { .create-tag( @Python, "Python"          ) }
#projects-container .project-tag.project-tag-swift      { .create-tag( @Swift, "Swift"            ) }
#projects-container .project-tag.project-tag-java       { .create-tag( @Java, "Java"              ) }
#projects-container .project-tag.project-tag-haskell    { .create-tag( @Haskell, "Haskell"        ) }
#projects-container .project-tag.project-tag-html       { .create-tag( @HTML, "HTML"              ) }
#projects-container .project-tag.project-tag-less       { .create-tag( @LESS, "LESS"              ) }
#projects-container .project-tag.project-tag-lua        { .create-tag( @Lua, "Lua"                ) }
#projects-container .project-tag.project-tag-c          { .create-tag( @C, "C"                    ) }
#projects-container .project-tag.project-tag-applescript{ .create-tag(@AppleScript, "AppleScript" ) }
#projects-container .project-tag.project-tag-assembly   { .create-tag(@Assembly, "Assembly"       ) }
#projects-container .project-tag.project-tag-elm        { .create-tag(@Elm, "Elm"                 ) }

.project-primary-tag-border(
  @colour,
) {
  border: @border-width solid @colour
}

#projects-container .project.project__primary-tag-idea       { .project-primary-tag-border( darken(@Idea        , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-javascript { .project-primary-tag-border( darken(@JavaScript  , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-css        { .project-primary-tag-border( darken(@CSS         , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-python     { .project-primary-tag-border( darken(@Python      , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-swift      { .project-primary-tag-border( darken(@Swift       , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-java       { .project-primary-tag-border( darken(@Java        , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-haskell    { .project-primary-tag-border( darken(@Haskell     , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-html       { .project-primary-tag-border( darken(@HTML        , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-less       { .project-primary-tag-border( darken(@LESS        , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-lua        { .project-primary-tag-border( darken(@Lua         , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-c          { .project-primary-tag-border( darken(@C           , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-applescript{ .project-primary-tag-border( darken(@AppleScript , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-assembly   { .project-primary-tag-border( darken(@Assembly    , @border-darken-factor) ) }
#projects-container .project.project__primary-tag-elm        { .project-primary-tag-border( darken(@Elm         , @border-darken-factor) ) }
