.tag.tag-javascript { background-color: #65a4ed; color: #65a4ed; }
  .tag-javascript:hover{ background-color: lighten(#65a4ed, 5%);}
  .tag-javascript:after { content: "JavaScript"; }

.tag.tag-css { background-color: #edc365; color: #edc365; }
  .tag-css:hover{ background-color: lighten(#edc365, 5%);}
  .tag-css::after { content: "CSS"; }

.tag.tag-jquery { background-color: #a876ff; color: #a876ff; }
  .tag-jquery:hover{ background-color: lighten(#a876ff, 5%);}
  .tag-jquery::after { content: "jQuery"; }
