@hover-lighten: 7%;

.create-tag(
  @colour,
  @label,
) {
  background-color: @colour !important;
  color: @colour !important;
  &:hover {
    background-color: lighten(@colour, @hover-lighten) !important;
    color: @colour-base !important;
  }
  &.locked {
    color: @colour-base !important;
  }
  &:after {
    content: @label;
  }
}

/***
** Generators
***/
.tag.tag-javascript { .create-tag( #65a4ed, "JavaScript"  ) } //Pale Blue
.tag.tag-jquery     { .create-tag( #a876ff, "jQuery"      ) } //Purple
.tag.tag-css        { .create-tag( #f45081, "CSS"         ) } //Pink
.tag.tag-python     { .create-tag( #0274CC, "Python"      ) } //Blue
.tag.tag-swift      { .create-tag( #f29a26, "Swift"       ) } //Orange
.tag.tag-java       { .create-tag( #c6a23a, "Java"        ) } //Brown
