.create-tag(
  @colour,
  @label,
) {
  background-color: @colour !important;
  color: @colour !important;
  &.locked {
    color: @colour-base !important;
  }
  &:after {
    content: @label;
  }
  &:hover {
    color: @colour-base !important;
  }
}

/***
** Generators
***/
.tag.tag-javascript { .create-tag( #7e7e7e, "JavaScript"  ) } //Steel Grey
.tag.tag-jquery     { .create-tag( #b19cd6, "jQuery"      ) } //Cyan
.tag.tag-css        { .create-tag( #f45081, "CSS"         ) } //Pink
.tag.tag-python     { .create-tag( #50b942, "Python"      ) } //Deep Green
.tag.tag-swift      { .create-tag( #fb6917, "Swift"       ) } //Orange
.tag.tag-java       { .create-tag( #c65c3a, "Java"        ) } //Brown
.tag.tag-haskell    { .create-tag( #265089, "Haskell"     ) } //Navy Blue
.tag.tag-html       { .create-tag( #45bfcb, "HTML"        ) } //Turquoise
