body {
  background-color: #333333;
  display: flex;
}
div.form {
  width: 800px;
  margin: auto;
  margin-top: 50px;
  background-color: #455a64;
  border-radius: 5px;
  padding: 20px;
}
div.form div.form-element {
  margin: 10px;
  padding: 10px;
  display: flex;
  font-size: 1.5em;
  font-family: "Lato", Sans-serif;
}
div.form div.form-element * {
  margin: 5px;
  padding: 5px;
}
div.form div.form-element span.form-label {
  color: #a4b1b7;
  font-weight: 200;
}
div.form div.form-element input {
  border: none;
  border-bottom: 2px solid #a4b1b7;
  background-color: transparent;
  font-size: inherit;
  flex-grow: 1;
  font-weight: 200;
  color: #cccccc;
  padding: 5px;
}
div.form div.form-element input:focus {
  outline: none;
  border-bottom-color: #cccccc;
}
div.form h1 {
  font-family: "Lato", Sans-serif;
  font-weight: 200;
  color: #cccccc;
  margin-top: 0;
}
div.form #userInput {
  color: #4caf50;
}
div.form #userInput.fail {
  color: #ff5722;
}
div.form #matches {
  position: absolute;
  max-height: 500px;
  overflow: auto;
  background-color: #455a64;
  box-shadow: 3px 3px 5px #333;
  margin-top: 50px;
  display: none;
  color: #a4b1b7;
  font-weight: 200;
}
div.form #matches > i {
  font-size: 1.8;
}
div.form #matches .match {
  list-style-type: none;
  font-size: 0.8em;
}
