.section_header {
  padding-top: 3em;
}
.section_header h1 {
  text-align: center;
}
.section_header h1 .material-icons {
  font-size: 3em;
  color: #3caa9c;
}
.section__card {
  margin: 25px 50px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.3);
  background-color: #fafafa;
}
.section_calculation input {
  width: calc(32% - 20px);
  margin: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(150, 150, 150, 0.2);
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1.3em;
  line-height: 1.4;
  text-transform: none;
  letter-spacing: 0em;
}
.section_calculation input:focus {
  border-bottom-color: #3caa9c;
  outline-width: 0;
}
.section_calculation_output {
  text-align: center;
  margin-top: 15px;
}
.section_calculation_save,
.section_calculation_default {
  display: none;
}
.section_calculation_save.visible,
.section_calculation_default.visible {
  display: inline;
}
.section_calculation_actions,
.section_table_actions,
.section_calculation_actions_details {
  margin-top: 25px;
  text-align: right;
}
.section_calculation_actions a.link-btn,
.section_table_actions a.link-btn,
.section_calculation_actions_details a.link-btn {
  font-family: sans-serif;
  font-weight: 300;
  color: #3caa9c;
  font-size: 1.1em;
  line-height: 1.4;
  text-transform: none;
  letter-spacing: 0em;
  padding: 5px 10px;
}
.section_calculation_actions a.link-btn:hover,
.section_table_actions a.link-btn:hover,
.section_calculation_actions_details a.link-btn:hover {
  color: #8edad0;
}
.section_table_output {
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1.1em;
  line-height: 1.4;
  text-transform: none;
  letter-spacing: 0em;
}
.section_table_output td {
  border: none !important;
}
.section_table_output table.dataTable.no-footer {
  border-bottom-color: rgba(150, 150, 150, 0.2);
}
.section_table_output table.dataTable thead th,
.section_table_output table.dataTable thead td {
  font-family: sans-serif;
  font-weight: 300;
  color: #405050;
  font-size: 1.1em;
  line-height: 1.4;
  text-transform: none;
  letter-spacing: 0em;
  border-bottom-color: rgba(150, 150, 150, 0.2);
}
@media (max-width: 900px) {
  .section_table_output table.dataTable thead tr th:nth-child(6),
  .section_table_output table.dataTable thead tr th:nth-child(7),
  .section_table_output table.dataTable tbody tr td:nth-child(6),
  .section_table_output table.dataTable tbody tr td:nth-child(7) {
    display: none;
  }
}
@media (max-width: 600px) {
  .section_table_output table.dataTable thead tr th:nth-child(2),
  .section_table_output table.dataTable thead tr th:nth-child(3),
  .section_table_output table.dataTable thead tr th:nth-child(4),
  .section_table_output table.dataTable tbody tr td:nth-child(2),
  .section_table_output table.dataTable tbody tr td:nth-child(3),
  .section_table_output table.dataTable tbody tr td:nth-child(4) {
    display: none;
  }
}
html.dark-theme .section__card {
  background-color: #2a2e2a;
}
html.dark-theme .section_calculation input {
  color: #959695;
}
html.dark-theme table.dataTable thead th,
html.dark-theme table.dataTable thead td {
  color: #959695;
}
html.dark-theme table.dataTable.stripe tbody tr.odd,
html.dark-theme table.dataTable.display tbody tr.odd {
  background-color: #424942;
  color: #959695;
}
html.dark-theme table.dataTable.stripe tbody tr.even,
html.dark-theme table.dataTable.display tbody tr.even {
  background-color: #4f564f;
  color: #959695;
}
html.dark-theme table.dataTable.display tbody tr.odd > .sorting_1,
html.dark-theme table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #474e47;
}
html.dark-theme table.dataTable.display tbody tr.even > .sorting_1,
html.dark-theme table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #535b53;
}
